<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'FORGOT_PASSWORD_TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="forgotPasswordForm" (submit)="doForgotPassword()">
    <ion-list>
      <img src="assets/img/code_club_logo.jpg" alt="Code Club logo">

      <ion-item>
        <ion-label position="floating" color="primary">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div padding>
        <ion-button shape="round" expand="block" type="submit">{{ 'SIGNUP_SUBMIT' | translate }}</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
