<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'FORGOT_PASSWORD_TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="forgotPasswordForm" (submit)="doForgotPassword()">
    <ion-list>
      <div style='text-align: center'>
        <img src="assets/img/code_club_logo.jpg" alt="Code Club logo">
      </div>
      <div style='text-align: center; color: green'>
        <h2>{{ 'CODE_CLUB_COUNTRY' | translate }}</h2>
      </div>

      <div style='text-align: center'>
        <h1>{{ 'FORGOT_PASSWORD_TITLE' | translate}}</h1>
        <p>{{ 'FORGOT_PASSWORD_TEXT' | translate}}
        </p>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">{{ 'YOUR_REGISTERED_EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>


      <div padding>
        <ion-button shape="round" expand="block" type="submit">{{ 'FORGOT_PASSWORD_SUBMIT' | translate }}</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>