page-club-detail {
  .club-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .club-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
