<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="new_signup_form" (submit)="signUp(new_signup_form.value)">
    <!-- <form [formGroup]="new_signup_form"> -->
    <ion-list>
      <img src="assets/img/code_club_logo.jpg" alt="Code Club logo">

      <div formGroupName="matching_emails">
        <ion-item>
          <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="new_signup_form.get('matching_emails').get('email').hasError(validation.type) && (new_signup_form.get('matching_emails').get('email').dirty || new_signup_form.get('matching_emails').get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">{{ 'CONFIRM_EMAIL' | translate }}</ion-label>
          <ion-input type="text" formControlName="confirm_email" name="confirm_email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_email">
            <div class="error-message" *ngIf="new_signup_form.get('matching_emails').get('confirm_email').hasError(validation.type) && (new_signup_form.get('matching_emails').get('confirm_email').ditry || new_signup_form.get('matching_emails').get('confirm_email').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </div>

      <!--
          Want to use a Username instead of an Email? Here you go:
          <ion-item>
            <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
          </ion-item>
          -->

      <ion-item>
        <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="password" name="password" required></ion-input>
      </ion-item>

      <div padding>
        <ion-button shape="round" expand="block" type="submit">{{ 'SIGNUP_SUBMIT' | translate }}</ion-button>
        <!-- <ion-button shape="round" expand="block" color="primary" fill="outline" (click)=signUp(new_signup_form.value)>{{ 'SIGNUP_SUBMIT' | translate }}</ion-button> -->
      </div>

    </ion-list>
  </form>
</ion-content>