<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="new_signup_form" (submit)="doSignup()">
    <ion-list>
      <div style='text-align: center'>
        <img src="assets/img/code_club_logo.jpg" alt="Code Club logo">
      </div>
      <div style='text-align: center; color: green'>
        <h2>{{ 'CODE_CLUB_COUNTRY' | translate }}</h2>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="new_signup_form.get('email').hasError(validation.type) && (new_signup_form.get('email').dirty || new_signup_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div formGroupName="matching_passwords">
        <ion-item>
          <ion-label position="floating" color="primary">{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="new_signup_form.get('matching_passwords').get('password').hasError(validation.type) && (new_signup_form.get('matching_passwords').get('password').dirty || new_signup_form.get('matching_passwords').get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating" color="primary">{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
          <ion-input type="password" formControlName="confirm_password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="new_signup_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (new_signup_form.get('matching_passwords').get('confirm_password').dirty || new_signup_form.get('matching_passwords').get('confirm_password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <!-- These validations are for the form group -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="new_signup_form.get('matching_passwords').hasError(validation.type) && (new_signup_form.get('matching_passwords').get('confirm_password').dirty || new_signup_form.get('matching_passwords').get('confirm_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div padding>
        <ion-button shape="round" expand="block" type="submit">{{ 'SIGNUP_SUBMIT' | translate }}</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>