<ion-header>
    <ion-toolbar>
      <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form (submit)="signUp()">
      <ion-list>
        <img src="assets/img/code_club_logo.jpg" alt="Code Club logo">
  
        <ion-item>
          <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">{{ 'CONFIRM_EMAIL' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="account.email" name="email"></ion-input>
          </ion-item>
        
        <!--
          Want to use a Username instead of an Email? Here you go:
          <ion-item>
            <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
          </ion-item>
          -->
  
        <ion-item>
          <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input required type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>
  
        <div padding>
          <ion-button shape="round" color="primary" fill="outline">{{ 'SIGNUP_SUBMIT' | translate }}</ion-button>
        </div>  
      
      </ion-list>
    </form>
  </ion-content>