<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'HOME_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="doLogin()">
    <ion-list>
      <div style='text-align: center'>
        <img src="assets/img/code_club_logo.jpg" alt="Code Club logo">
      </div>
      <div style='text-align: center; color: green'><h2>BRASIL</h2></div>

      <ion-item>
        <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input required type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <ion-button (click)="loginUser(doLogin())" shape="round" color="primary" fill="outline">{{ 'LOGIN_BUTTON' | translate }}</ion-button>
      </div>
      <div padding>
        <div>
          <ion-button expand="block" fill="clear" routerLink="/reset-password">{{ 'FORGOT_PASSWORD' | translate }}</ion-button>
        </div>
        <div>
          <ion-button expand="block" fill="clear" routerLink="/signup">{{ 'SIGNUP_BUTTON' | translate }}</ion-button>
        </div>
      </div>


    </ion-list>
  </form>
</ion-content>