<ion-header>
  <ion-toolbar>
    <ion-title>first-access</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div style='text-align: left' padding>
      <h1>{{ 'HELLO' | translate }},</h1>
      <p>{{ 'WELCOME_TEXT' | translate }}</p>
    </div>
  </ion-list>
  <div padding>
    <div>
      <ion-button expand="block" fill="clear" routerLink="/register-class">{{ 'REGISTER_CLASS' | translate }}</ion-button>
    </div>
  </div>

</ion-content>
